* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(../Background/cars.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 15%;
}

header {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
    text-shadow: 1px 3px 3px black;
}

header h1 {
    font-size: 5vw;
}

main {
    border: 5px solid white;
    background: white;
    max-width: 1200px;
    box-shadow: 1px 3px 5px black;
    border-radius: 10px;
    width: 50%;
}

.gallery img, .thumbnails img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.gallery {

    position:relative;
    vertical-align: top;

}

#arrow_left {

    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 100;
    width: 3%;
    cursor: pointer;

}

#arrow_right {

    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 100;
    width: 3%;
    cursor: pointer;

}

.thumbnails {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px 5px; 
    cursor: pointer;
}

footer {
    min-height: 400px;
    padding: 3%;
    text-align: center;
}

/*-------------------------- SLIDER ------------------------------*/

.slidecontainer {
    width: 50%; /* Width of the outside container */
    padding: 1%;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: rgb(0,0,0,0.9); /* Black background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: url(../Logo/speedometer.png); 
    background-size: cover;
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: url(../Logo/speedometer.png); 
    background-size: cover;
    cursor: pointer; 
  }

/*------------------------- SLIDER END ----------------------------------*/

footer #counter_p {
    color: white;
    background: rgba(0,0,0,0.9);
    width: 5%;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
}

#instructions {
    color: white;
    font-family: 'Lobster', cursive;
    cursor: pointer;
    background: rgba(0,0,0,0.9);
    min-width: 15%;
    max-width: 30%;
    margin-top: 3%;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    box-shadow: 1px 1px 5px black;
}

#instructions:hover {

    color: black;
    background: rgba(250,250,250,0.9);
    border: 1px solid black;
}

#design {
    margin-top: 20px;
    color: white;
    border: 1px solid white;
    background: rgba(0,0,0,0.8);
    font-family: 'Lobster', cursive;
    width: 12%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

/*----- Animation -----*/
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade_in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

@media only screen and (max-width: 600px) {

    #arrow_left {

        width: 5%;
    
    }
    
    #arrow_right {
    
        width: 5%;
    
    }

    .thumbnails {

        grid-template-columns: repeat(5, 1fr);

    }

    footer #counter_p {

        width: 10%;

    }

    #instructions {

        width: 35%;

    }

    main {

        width: 90%;

    }

    .slidecontainer {

        width: 80%; /* Width of the outside container */

      }

    #design {
        width: 28%;
    }
}