* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(../Background/cars.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 15%;
}

header {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
    text-shadow: 1px 3px 3px black;
}

header h1 {
    font-size: 5vw;
}

main {
    border: 5px solid white;
    background: white;
    max-width: 1200px;
    box-shadow: 1px 3px 5px black;
    border-radius: 10px;
    width: 90%;
}

.gallery img, .thumbnails img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.thumbnails {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
}

footer {
    min-height: 250px;
    padding: 5%;
    text-align: center;
}

footer p {
    color: white;
    border: 1px solid white;
    background: rgba(0,0,0,0.8);
    font-family: 'Lobster', cursive;
    width: 12%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

/*----- Animation -----*/
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade_in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

@media only screen and (max-width: 600px) {

    .thumbnails {
        grid-template-columns: repeat(5, 1fr);
    }

    footer p {
        width: 38%;
    }
}